<h2>Login</h2>
<form action="<%= session_url %>" method="post">

  <label for="email">Email</label>
  <input type="text" name="user[email]" id="email">

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">

  <p>You can sign in with test@test.com, password</p>
  <p>Properties are in San Francisco and Oakland</p>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

  <input type="submit" value="Login" class="btn btn-primary">
</form>