<script type="text/javascript" src="/threadIndex.js"></script>

<h2>My Messages</h2>

<div class="all_threads">
  <% @threads.each do |thread| %>
    <div class="single_thread" data-id="<%= thread.id %>">
      <h5>From: <%= thread.owner_id == current_user.id ? thread.user2.user_name : thread.user1.user_name %></h5>
      <h5>Title: <%= thread.messages.first.title %></h5>   
    </div>
  <% end %> 
</div>