<div id="home_page">
  <div>
    <br>
    <h1 id="front_page_header">Find A Place To Stay:</h1>
  </div>
  <div class="search_bar">
    <form action="<%= places_url %>" method="get">
      <div class="float_left">
        <input type="text" 
               name="search[text]" 
               id="text" 
               placeholder="Where do you want to go?"
               class="search_field">
      </div>
      <div class="search_date_begin float_left" 
           data-toggle="tooltip" 
           data-placement="bottom"
           title="Check In" 
           id="date_begin">
        <input type="date" 
               name="request[begin_date]" 
               id="search_begin"
               class="search_date"
               value="">
      </div>
      <div class="search_date_end float_left"
           data-toggle="tooltip" 
           data-placement="bottom"
           title="Check Out" 
           id="date_end">
        <input type="date" 
               name="request[end_date]" 
               id="search_end"
               class="search_date"
               value="">
      </div>
      <input type="hidden" 
             name="authenticity_token"
             value="<%= form_authenticity_token %>">
       <div class="float_left">
         <select id="guest_num" 
                 name="search[guest_num]" 
                 class="selectpicker"
                 data-style="btn-info">
          <% 15.times do |num| %>
            <option value="<%= num+1 %>">
                <%= num+1 %> Guests
            </option>
          <% end %>
          <option value="16">16+ Guests</option>
        </select>
      </div>
      <div class="float_left">
       <input type="submit" value="Search!" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>