<div class="single_message">
  <img class="crop_image" src="<%= message.sender.filepicker_url %>"><h3 style="display:inline;">Sender: You</h3>
  <h4>Message: <%= message.title %></h4>
  <p><%= message.message %></p>
</div>