/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require ./flat-ui.css
 *= require jquery.ui.all
 */
.current_user_display{
  float: right;
}

#home_page{
  background: url(http://farm6.staticflickr.com/5310/5592929174_b3100b13af_z.jpg) no-repeat center center;
 background-size: cover;
 height: 500px;
 width: 100%;
 left: 0px;
 color: white;
 text-shadow: black 0 -1px;
 background-position: center center;
 border: 1px;
}

html, body{
   margin: 0;
   padding:0;
   height:100%;
}

.new_form_box{
  padding: 10px;
  border: solid 2px;
  border-color: #1abc9c;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
  float: left;
}

.title{
  padding: 10px;
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-color: #2ecc71;
}

.container{
  width: 928px;
  margin: 5px 5px 5px 5px;
}

.inner{
  float: left;
  border: 1px solid;
  border-color: #34495E;
  border-radius: 5px;
  height: 198px;
  width: 230px;
  vertical-align: middle;
  background-size: cover;
  background-position: center center;
  color: #ECF0F1;
  text-shadow: black 0 -1px;
}

ul#address_details{
  width: 70%;
  margin: auto;
  list-style: none;
  vertical-align: middle;
}

h3.box_title{
  padding: 20px;
}

div.create_new_place{
  line-height: 200px;
  text-align: center;
  background-color: #F1C40F;
  color: #2C3E50;
  font-size: medium;
}

#hidden{
  display: none;
}

.link_button{
  margin: 5px;
}

.logout{
  clear: left;
  float: left;
  margin: 10px;
}

.show{
  border: solid 1px;
  border-radius: 5px;
  border-color: #2C3E50;
  width: 200px;
  margin: 5px;
}

.show_link_button{
  float: left;
  margin: 2px;
  width: 166px;
  text-align: center;
}

.image_uploader{
  float: left;
  border: solid 2px;
  border-color: #1abc9c;
  border-radius: 5px;
  margin: 5px;
  width: 330px;
  text-align: center;
}

.float_right{
  float: right;
}
.float_left{
  float: left;
}

.main_photo{
  border: solid black 1px;
  width: 400px;
  border-radius: 5px;
}

.owner_options{
  text-align: center;
  margin: 5px;
  margin-right: 13px;
  float: right;
}

.stack{
  position: absolute;
}

.form_on_page{
  margin: 5px;
  float: right;
  clear: right;
  border: solid black 1px;
  border-radius: 5px;
}

.rental_request{
  text-align: center;
  border-radius: 5px;
  border: solid 2px;
  border-color: #16A085;
  margin: 10px;
}

.rental_request_ul{
  list-style: none;
}

#wrapper {
  position: relative;
}

#header {
  padding:20px;
  background:#1ABC9C;
}

#footer{
  position:absolute;
  bottom: 0px;
  width:100%;
  height:80px;
  background: #95A5A6;
}

.clearfooter{
  height: 80px;
  clear: both;
}

.search_bar{
  margin-top: 130px;
}

.place_search_box{
  float: right;
  clear: right;
  border: solid black 1px;
  border-radius: 5px;
  margin: 10px;
}

.trip_display{
  margin: 8px;
}

.tabs_box{
  float: left;
  border: solid black 2px;
  width: 500px;
  margin: 10px;
}

.tabs_box_request{
  border: solid black 3px;
  width: 700px;
  margin: 10px;
}

.height_adjust{
  height: 35px;
}

#description{
  position: relative;
}

.check_details{
  list-style: none;
}

.center_me{
  text-align: center;
}

#map-canvas{
  float: left;
  position: fixed !important;
  border: solid black 1px;
  border-radius: 5px;
  width: 450px;
  height: 550px;
  margin: 10px;
}

.p_left{
  text-align: right;
  line-height: 0;
  bottom: 0px;
  right: 0px;
}

.clear_me{
  clear: both;
}

.modal-text{
  vertical-align: center;
  width: 75%;
}

.modal-textarea{
  height: 200px;
}
.buffer{
  margin: 5px;
}
.single_thread{
  border-radius: 5px;
  border: solid black 2px;
  margin: 5px;
  width: 40%;
  text-align: center;
}