h2{ 
  margin-bottom:10px;
}

#tab_wrapper{
  width:720px;
  margin:40px auto 0;
}

#tab_wrapper h1{
  color:#FFF;
  text-align:center;
  margin-bottom:20px;
}

#tab_wrapper a{
  display:block;
  font-size:1.2em;
  padding-top:20px;
  color:#FFF;
  text-decoration:none;
  text-align:center;
}

#tabContainer {
  width:700px;
  padding:15px;
  background-color:#2e2e2e;
  -moz-border-radius: 4px;
  border-radius: 4px; 
}

.tabs{
  height:30px;
}

.tabs > ul{
  font-size: 1em;
  list-style:none;
}

.tabs > ul > li{
  margin:0 2px 0 0;
  padding:7px 10px;
  display:block;
  float:left;
  color:#FFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius:4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; 
  background: #C9C9C9; /* old browsers */
  background: -moz-linear-gradient(top, #0C91EC 0%, #257AB6 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C91EC), color-stop(100%,#257AB6)); /* webkit */
}

.tabs > ul > li:hover{
  background: #FFFFFF; /* old browsers */
  background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
  cursor:pointer;
  color: #333;
}

.tabs > ul > li.tabActiveHeader{
  background: #FFFFFF; /* old browsers */
  background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
  cursor:pointer;
  color: #333;
}

.tabscontent {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; 
  padding:10px 10px 25px;
  background: #FFFFFF; /* old browsers */
  background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 90%, #e4e9ed 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(90%,#FFFFFF), color-stop(100%,#e4e9ed)); /* webkit */
  margin:0;
  color:#333;
}